.table-options {
    padding-bottom: 1rem;
}

.content .table {
    thead {
        th {
            background: #f6f7fb;
        }
    }
    tr {
        &:hover {
            background: #fff;
        }

        td {
             border: 1px solid #f6f7fb;

             &.table-actions {
                 min-width: 75px;
             }
        }
    }
}
