.dashboard-home {
    .module {
        text-align: center;

        &:hover:not([disabled]) {
            background: $primary;
            cursor: pointer;

            .subtitle {
                color: #fff;
            }
        }

        .icon {
            margin-bottom: 0.5rem;

            i {
                font-size: 1.5rem;
            }
        }
    }
}
