.tabs-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: $vg-bg-light-color;

    .tablist {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        width: 250px;

        // Move over the tab content, so the left border is invible.
        margin-right: -1px;
        z-index: 10000;

        .tablist-title {
            padding: 0.5rem;
            clear: both;
            border-bottom: 2px solid #dbdbdb;
            overflow: hidden;
            text-overflow: ellipsis;

            i {
                font-size: 1.5rem;
                color: #2A3042;
                opacity: 0.2;
                margin-right: 5px;
            }

            span {
                font-size: 1.2rem;
                line-height: 1.5rem;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
            }
        }

        ul {
            margin: 0;
            display: flex;
            flex-direction: column;
            border-bottom: 0;

            li.item {
                margin: 0;
                width: 100%;
                border-top: 1px solid transparent;
                border-right: 1px solid #dbdbdb;
                border-top: 1px solid #dbdbdb;

                &.is-active {
                    background: #fff;
                    font-weight: 500;
                    border-right: 1px solid transparent;
                }

                a {
                    align-items: left;
                    justify-content: left;
                    overflow: visible;
                    width: auto;
                    border-bottom: 1px solid transparent;
                }
            }
        }


        // Style as regular tabs to increase the content width.
        @media screen and (max-width: $desktop) {
            display: flex;
            width: 100%;

            ul {
                flex-direction: row;
                padding-left: 6px;
                padding-right: 6px;

                li.item {

                    border-right: 0;

                    &.is-active {
                        border-left: 1px solid #dbdbdb;
                        border-right: 1px solid #dbdbdb;
                    }

                    &.title {
                        width: 100% !important;
                        max-width: 100%;
                        flex-grow: 20;
                    }

                    overflow: hidden;
                    white-space: nowrap;
                    a {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: center;
                    }
                }
            }


        }
    }

    .tabs-content {
        border-radius: 3px;
        border: 1px solid $grey-lighter;
        background: #fff;
        padding: 1rem;
        width: 100%;
    }

    @media screen and (max-width: $desktop) {
        flex-direction: column;

        .tabs-content {
            margin-top: -1px;
        }
    }
}
