@import './variables.scss';

.admin--module-title {
  font-size: 20px;
  font-weight: 600;
  margin: .75em 0;
}

.admin--module-list {
  background: $white;
  border: 1px #e6e7eb solid;
  border-radius: 3px;

  li {
      border-bottom: 1px #f6f7fb solid;

      &:last-child {
          border-bottom: 0;
      }

      &.not-used {
          a {
              color: #cccfd5;
          }
      }
  }

  li a {
      color: #2A3042;
      display: block;
      padding: 10px;

      &:hover {
          color: $primary;
      }
  }

  i {
      width: 20px;
  }
}
