@import "./variables.scss";
@import '~react-table/react-table.css';



.ReactTable .rt-thead.-header {
    box-shadow: none;
}

.ReactTable {
    border: none;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    border-bottom: 2px #e6e7eb solid;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    border-bottom: 2px solid $primary;
    box-shadow: none;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    border-top: 2px solid $primary;
    box-shadow: none;
}

.ReactTable .rt-thead .rt-resizable-header-content {
    font-weight: 500;
}

.ReactTable .rt-tr-group {
    line-height: 36px;
}

.ReactTable .rt-th, .ReactTable .rt-td {
    padding: 0;
}

.rt-td a, .rt-td button.is-link {
    color: #2A3042;

    &:hover {
        color: $primary;
    }
}

a.table--link {
    text-decoration: underline;
    color: $primary;
}

.ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer {
    text-align: left;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    border-right: none;
}

.rt-tr-group {
    border-left: solid 2px rgba(0,0,0,0);

    &:hover {
        border-left: 2px solid $primary;
    }
}

.rt-td:first-child {
    padding-left: 5px;
}
