// To hide the checkbox itself.
input[type=checkbox] {
    display:none;

    // unchecked icon.
    & + label {
        vertical-align: center;

        &:before {
            font-family: FontAwesome;
            display: block;
            float: left;
            content: "\f096";
            font-size: 1.2rem;
            width: 1.5rem;
            margin-top: 0.05rem;
        }
    }

    &:disabled + label {
        color: #999;
    }
}

// checked icon.
input[type=checkbox]:checked + label:before {
    content: "\f046";
}

input[type=checkbox] + label {
    line-height: 1.5rem;
    @include unselectable;
}

input[type=color] {
    height: 3rem;
    width: 4rem;
}
