.table-header {
    width: 100%;
    float: left;
    margin-bottom: $vg-spacing-3;

    .table-header-title {
        font-size: 1.5rem;
        font-weight: 300;
        float: left;
    }
}

.table {
    border-collapse: inherit;

    thead {
        th {
            background: $vg-bg-light-color;
            font-weight: 500;
        }
    }
    tr {
        &:hover {
            background: #fff;
        }

        td {
            padding: 0;
            padding-left: $vg-spacing-05;
            border: 1px solid $vg-bg-light-color;
            line-height: 2.5rem;
            overflow: hidden;
            text-overflow: ellipsis;

            &.table-actions {
                vertical-align: middle;

                a {
                    display: inline-block;
                    vertical-align: middle;
                    i {
                        font-size: 1.3rem;
                        padding: 0.3rem;
                    }
                }
            }

            input {
                height: 40px;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        background: none;

        tr {
            background: #fff;
            display: flex;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0.5em 0;
            border: 1px solid rgba(3,3,3,0.2);
        }
        td, th {
            flex: 1 1 100px;
            border: 1px solid $vg-border-light-color;

            &:last-child {
                width: 150px;
            }
        }
    }}
