@import "bulma/sass/utilities/variables";
@import "bulma/sass/utilities/mixins";

@import "modules/all";
@import "components/all";
@import "partials/all";

html {
    overflow-y: auto;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
