@import "bulma/sass/utilities/variables";
@import "bulma/sass/utilities/mixins";

body {
    background: #fff;
}

.main-container {
    margin: 0 auto;
    padding-top: 1rem;
}

form {
    .subtitle {
        font-weight: bold;
    }
}


.notifications {
    @include tablet {
        max-width: 320px;
    }
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 19;
    min-width: 240px;

    .notification {
        margin: 20px;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
}
